[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "paths"]
	path = paths
	url = https://github.com/mdtrinh/paths
	shallow = true
	registered = true
